.title-width{
	color: var(--primary);
    font-weight: 700;
}
.btn-opacity{
	color: var(--primary);
}
.btn-opacity:hover{
	color: var(--primary) !important;
	background-color: var(--primary_opacity);
}

.btn-filtro > i{
	color: var(--primary);
}

.btn-filtro > span{
	color: var(--grey-darken-1);
}

.modal-header,.modal-body,.modal-footer{
	background-color: var(--grey-lighten-5);
	border-bottom: 0px;
	border-top: 0px;
}

.filter-content{
	text-align: justify;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid var(--grey-lighten-2);
    /* color: var(--grey-lighten-1); */
}

/*CSS para Chips a mano*/
.chip {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
  color: var(--grey-lighten-5);
  background-color: var(--primary);
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.closebtn {
  padding-left: 10px;
  color: var(--grey-lighten-5);
  font-weight: bold;
  /*float: right;*/
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
}

/*CSS para Tables*/
.thead-myTable {
    background-color: var(--primary_color);
    color: var(--grey-lighten-5);
}

.table td {
    vertical-align: middle;
}

.myLinks .material-icons:hover {
    color: var(--primary_color);
    transform: scale(1.5);
}
.myLinks .material-icons { 
    transition: all .2s ease-in-out; 
    color: var(--grey-darken-2);
}

/*CSS para button de search*/
.search {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.4s;
    -webkit-transition: -webkit-filter 0.5s;
    transition: transform .3s;
    cursor: pointer;
}

.search:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.search:active {
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari 3-8 */
    transform: scale(0.9);
}

.dropdown-item.active, .dropdown-item:active{
  background-color: var(--grey-darken-1);
}

#id_dropdownColumns{
  min-width: 14rem;
}

.img_inspeccion{
  max-width: 150px;
  max-height: 150px;
}